@font-face {
     font-family: 'B_Yekan';
     src: url('fonts/BYekan/BYekan.eot');
     src: url('fonts/BYekan/BYekan.otf') format('opentype');
     src: local('☺'),
     url('fonts/BYekan/BYekan.woff') format('woff'),
     url('fonts/BYekan/BYekan.ttf') format('truetype'),
     url('fonts/BYekan/BYekan.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
     font-family: '0_Koodak';
     src: url('fonts/koodak/koodak_bold.eot');
     src: url('fonts/koodak/koodak_bold.otf') format('opentype');
     src: local('☺'),
     local('0 Koodak Bold'),
     url('fonts/koodak/koodak_bold.woff') format('woff'),
     url('fonts/koodak/koodak_bold.ttf') format('truetype'),
     url('fonts/koodak/koodak_bold.svg') format('svg');
font-weight: normal;
font-style: normal;
}