/*font-family: 'B_Yekan', tahoma, Arial;*/
/*font-family: '0_Koodak', tahoma, Arial;*/

@font-face {
     font-family: 'B_Yekan';
     src: url('fonts/BYekan/BYekan.eot');
     src: url('fonts/BYekan/BYekan.otf') format('opentype');
     src: 
     url('fonts/BYekan/BYekan.woff') format('woff'),
     url('fonts/BYekan/BYekan.ttf') format('truetype'),
     url('fonts/BYekan/BYekan.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
}
#container {
	width: 100%;
	height: 100%;
}
#header {
	width: 100%;
	height: 70px;
	background: #21323C;
}
#header h1 {
	margin: 0;
	color: #D8D8D8;
	text-align: center;
	line-height: 70px;
	font-size: 32px;
	font-family: 'B_Yekan', tahoma, Arial;
}
#header #goHome {
	width: 38px;
	height: 38px;
	background: url("../img/home.png");
	background-size: 100%;
	position: absolute;
	margin-left: -54px;
	margin-top: -52px;
	left: 100%;
	cursor: pointer;
	opacity: 0.6;
}
#container #header #goHome:hover,
#container #header #goHome:active {
	opacity: 1;
}

.menu {
	margin: 0;
	padding: 0;
	width: 100%;
}
.menu li {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
	background: #F4F4F4;
	border-bottom: solid 1px #E6E6E6;
	list-style: none;
	direction: rtl;
}
.menu li:hover,
.menu li:active {
	background: #FFFFFF;
}
.menu li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #333333;
	text-decoration: none;
	font-size: 20px;
}
.menu li .icon {
	width: 64px;
	height: 64px;
	background: #40484B;
	margin: 18px;
	position: relative;
	display: inline-block;
	float: right;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;	
}
.menu li .icon img {
	width: 32px;
	height: 32px;
	margin: 16px;
}
.menu li .title {
	height: 100px;
	display: inline-block;
	float: right;
	line-height: 100px;
	font-family: 'B_Yekan', tahoma, Arial;
	font-size: 24px;
	text-decoration: none;
}
.menu li .arrow {
	width: 32px;
	height: 32px;
	background: #40484B;
	margin: 32px;
	position: relative;
	display: inline-block;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;	
}
.menu li .arrow div {
	width: 11px;
	height: 16px;
	background: url("../img/arrows.png");
	position: absolute;
	left: 9px;
	top: 8px;
}

.page {
	width: 100%;
	position: absolute;
	left: -100%;
	display: inline-table;
}
#catPage {
	direction: rtl;
}
#catPage ul {
	margin: 0;
	padding: 0;
}
#catPage ul li {
	float: right;
	width: 100%;
	list-style: none;
	margin: 0;
	background: #F4F4F4;
	border-bottom: solid 2px #E6E6E6;
}
#catPage ul li a {
	color: #000000;
	text-decoration: none;
	padding: 10px;
	display: block;
}
#catPage ul li:hover,
#catPage ul li:active {
	background: #FFFFFF;
}
#catPage ul li p {
	font-family: Tahoma;
	font-size: 13px;
	text-align: justify;
	line-height: 1.5;
	direction: rtl;
	margin-left: 10px;
	width: 93%;
	display: inline-block;
}
#catPage #end {
	width: 200px;
	height: 20px;
	background: red;
	display: inline-block;
}
li#in-load {
	height: 60px;
	padding: 0 42px;
	line-height: 60px;
	background: url("../img/loader.gif") center right no-repeat !important;
	background-size: 32px 32px !important;
	margin-right: 10px;
}

#loading-blocker {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	display: block;
	z-index: 10000;
}
#loading {
	width: 64px;
	height: 64px;
	background: url("../img/loading.gif");
	position: absolute;
	top: 50%;
	margin-top: -32px;
	left: 50%;
	margin-left: -32px;
	display: none;
	z-index: 10001;
	background-size: 100%;
}
.ui-content {
	padding: 0;
}

#aPost {
	float: right;
	direction: rtl;
	margin: 0 10px;
}
#aPost h1 {
	font-family: 'B_Yekan', tahoma, Arial;
	font-size: 22px;
	font-weight: normal;
	text-align: right;
}
#aPost #nImage {
}
#aPost #lead {
	font-family: Tahoma;
	font-size: 12px;
	line-height: 2;
	font-weight: normal;
	direction: rtl;
	float: right;
	font-style: italic;
	text-align: justify;
}
#aPost #full {
	font-family: Tahoma;
	font-size: 13px;
	line-height: 2;
	font-weight: normal;
	direction: rtl;
	float: right;
	text-align: justify;
}

