/*font-family: 'B_Yekan', tahoma, Arial;*/
/*font-family: '0_Koodak', tahoma, Arial;*/
html {
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
}
#container {
	width: 100%;
	height: 100%;
}
#container #header {
	width: 100%;
	height: 70px;
	background: #21323C;
}
.menu {
	margin: 0;
	padding: 0;
	width: 100%;
}
.menu li {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
	background: #F4F4F4;
	border-bottom: solid 1px #E6E6E6;
	list-style: none;
	direction: rtl;
}
.menu li:hover,
.menu li:active {
	background: #FFFFFF;
}
.menu li .icon {
	width: 64px;
	height: 64px;
	background: #40484B;
	margin: 18px;
	position: relative;
	display: inline-block;
	float: right;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;	
}
.menu li .icon img {
	width: 32px;
	height: 32px;
	margin: 16px;
}
.menu li .title {
	height: 100px;
	display: inline-block;
	float: right;
	line-height: 100px;
	font-family: 'B_Yekan', tahoma, Arial;
	font-size: 30px;
}
.menu li .arrow {
	width: 32px;
	height: 32px;
	background: #40484B;
	margin: 32px;
	position: relative;
	display: inline-block;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;	
}
.menu li .arrow div {
	width: 11px;
	height: 16px;
	background: url("../img/arrows.png");
	position: absolute;
	left: 9px;
	top: 8px;
}

.page {
	display: none;
}
#catPage {
	direction: rtl;
}
#catPage ul {
	margin: 0;
	padding: 0;
}
#catPage ul li {
	float: right;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 10px 0;
	margin: 0 10px;
	background: #F4F4F4;
	border-bottom: solid 1px #E6E6E6;
}
#catPage ul li:hover,
#catPage ul li:active {
	background: #FFFFFF;
}
#catPage ul li p {
	font-family: Tahoma;
	font-size: 13px;
	text-align: justify;
	line-height: 1.5;
	direction: rtl;
	margin-left: 10px;
	width: 93%;
	display: inline-block;
}