@font-face {
     font-family: '0 Koodak Bold';
     src: url('koodak_bold.eot');
     src: url('koodak_bold.otf') format('opentype');
     src: local('☺'),
     local('0 Koodak Bold'),
     url('koodak_bold.woff') format('woff'),
     url('koodak_bold.ttf') format('truetype'),
     url('koodak_bold.svg') format('svg');
font-weight: normal;
font-style: normal;
}