@font-face {
     font-family: 'B Yekan';
     src: url('BYekan.eot');
     src: url('BYekan.otf') format('opentype');
     src: local('☺'),
     local('B Yekan'),
     url('BYekan.woff') format('woff'),
     url('BYekan.ttf') format('truetype'),
     url('BYekan.svg') format('svg');
font-weight: normal;
font-style: normal;
}